

html { background: #f0f0f0; font-family: helvetica, arial; /*font-size: 12px*/ }
body { background: #ffffff; max-width: 960px; margin: 10px auto; padding: 1em;
	border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0 }
footer { border-top: 1px dashed #e0e0e0; margin-top: 1em }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

/* navigation menus */
#toplevelmenu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#toplevelmenu a {
    display: block;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: linear-gradient(to bottom, #3e779d, #65a9d7);
    padding: 7.5px 15px;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
#toplevelmenu a:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}
#toplevelmenu a:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

#secondlevelmenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#secondlevelmenu li {
    display: inline;
}
#secondlevelmenu li:not(:first-child)::before {
    content: " | ";
}

/* member table */
.membertable thead, .payments thead {
    background: #8888aa;
    text-wrap: nowrap;
}
.membertable tbody, .payments tbody {
    background: #ddddff;
}
.membertable .elevated_user {
    background: #ffdddd;
}

summary > h3 {
    display: inline-block;
}


/* grid layout forms */
.grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.5em;
    row-gap: 0.25em;
}

.grid label, .grid .label {
    display: block;
    font-weight: bold;
    text-align: right;
}

.required {
    color: red;
}

.grid .field input, .grid .field textarea, .grid .field select {
    max-width: 90vw;
}

.grid .hints, .grid .actions {
    grid-column: 1 / -1;
}

@media screen and (max-width: 600px) {
    /* Collapse to a single column on small screens */
    .grid {
        grid-template-columns: 1fr;
    }
    .grid label, .grid .label {
        text-align: left;
    }
}

/* signup form uid checker */
#uidcheckLoading {
    background: url('ajax-loader.gif');
    margin-top: 5px;
    width: 16px;
    height: 11px;
    float: right;
    display: none;
    opacity: 0%;
    transition: opacity 400ms ease-in, display 400ms allow-discrete;
}

#uidcheck {
    display: none;
    opacity: 0%;
    transition: opacity 400ms ease-in, display 400ms allow-discrete;
}

.fade-in {
    display: block !important;
    opacity: 100% !important;
}

@starting-style {
    .fade-in {
        opacity: 0% !important;
    }
}
