


body { background: #f0f0f0; font-family: helvetica, arial; font-size: 12px }
#page { background: #ffffff; width: 960px; margin: 0px auto; padding: 1em; 
	border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0 }
#footer { border-top: 1px dashed #e0e0e0; margin-top: 1em }
table th { text-align: right; font-size: 1em }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

#toplevelmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
/*    height: 80px;*/
    width: 900px;

    margin: auto;
}
#toplevelmenu li {
    float: left;
}

#toplevelmenu ul a {
    display: block;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   padding: 7.5px 15px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
#toplevelmenu ul a:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
#toplevelmenu ul a:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
#secondlevelmenu ul {
    clear: left;
}   
