Source: plug-ugmm
Section: web
Priority: optional
Maintainer: Timothy White <tim@purewhite.id.au>
Uploaders:
  Alastair Irvine <alastair@plug.org.au>,
  Benjamin Arntzen <zorlin@gmail.com>,
  James Henstridge <james@jamesh.id.au>,
Build-Depends: debhelper-compat (= 13)
Standards-Version: 3.9.8
Homepage: http://www.plug.org.au/projects/ugmm/

Package: plug-ugmm
Architecture: all
Depends: ${misc:Depends}, smarty4, php, nginx | apache2-bin, libjs-sortable-tablesort, php-net-ldap2
Recommends: php-fpm
Description: PLUG User Group Members Management
 PHP Frontend to LDAP backend for managing a user group of members
