name: test

on:
  pull_request:
  push:
    branches: [master, main]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: podman exec -w ${{ github.workspace }} ugmm-test bash -e {0}

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Set up Debian container
        shell: bash
        run: |
          podman run -d -t --name ugmm-test --privileged -v ${HOME}:${HOME} --env-host --env DEBIAN_FRONTEND=noninteractive jrei/systemd-debian:13
      - name: Install build-deps
        run: |
          rm -f /usr/sbin/policy-rc.d
          apt-get update
          apt-get install --yes devscripts
          apt-get build-dep --yes .
      - name: Build plug-ugmm package
        run: debuild -i -us -uc -b --lintian-opts
      - name: List package content
        run: debc
      - name: Install package
        run: apt-get install -y nginx php-fpm ../plug-ugmm_*.deb

      - name: Set up testing LDAP server
        run: ./ci/setup-slapd.sh
      - name: Set up nginx
        run: |
          cp ./ci/ugmm-nginx.conf /etc/nginx/sites-available/
          ln -s ../sites-available/ugmm-nginx.conf /etc/nginx/sites-enabled/
          systemctl restart nginx.service
          mkdir -p /etc/private
          cp /usr/share/plug-ugmm/lib/PLUG/ldapconnection.inc.php.example /etc/private/ldapconnection.inc.php
      - name: Set up fake sendmail
        run: |
          cp ci/fake-sendmail.sh /usr/sbin/sendmail

      - name: Install testing dependencies
        run: |
          apt-get install -y \
              phpunit \
              php-symfony-browser-kit \
              php-symfony-css-selector \
              php-symfony-http-client \
              php-symfony-mime

      - name: Run tests
        run: phpunit --testdox tests

      - name: Show web server errors on failure
        if: failure()
        run: sudo cat /var/log/nginx/error.log

  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Check PHP coding style
        uses: docker://ghcr.io/php-cs-fixer/php-cs-fixer:3-php8.4
        with:
          args: check
